@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@font-face {
  font-family: 'Gotham Thin';
  src: url("font/Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham XLight';
  src: url("font/Gotham-XLight.otf") format("opentype");
}

$white: #ffffff;
$black: #000000;

$azucar: #185689;
$darkcar: #1b5e96;
$darkercar: #154a75;
$bumble-bee: #ffd641;

$slate: #322f31;
$shale: #1d1d1e;
$discs: #fec324;
$keylime: #acfd5b;
$tarheel: #50b1ff;
$rebel: #ff6450;
$pride: #b650ff;
$cream: #fffbf3;

$slate-dark: #154a75;
$bumble-mid: #fedd7b;
$bumble-dark: #c5a530;

$font: 'Gotham Thin', 'Open Sans', Arial;

$brand-primary: $tarheel;
$brand-warning: $discs;
$brand-danger: $rebel;


/* BASE STYLES
============================================================================= */
html {
  overflow-y:hidden;
}

body {
  background: $shale;
  height: 100%;
  width: 100%;
  font-family: $font;
}

.page {
  bottom:0;
  padding-top:200px;
  position:absolute;
  text-align:center;
  top:0;
  width:100%;
  color: $white;
}

.page h1 { font-size:60px; }
.page a  { margin-top:50px; }
#about   { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

/* PAGES
============================================================================= */
.page-main { background:$white; }
.page-next     { background:$slate; }
.page-contact   { background:$discs; }

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-animation.ng-leave {
 -webkit-animation:slideOutLeft 0.5s both ease-in;
 -moz-animation:slideOutLeft 0.5s both ease-in;
 animation:slideOutLeft 0.5s both ease-in;
}
.page-animation.ng-enter {
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;
}

/* about ------------------------ */
.page-about.ng-leave {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
    -moz-animation:slideOutLeft 0.5s both ease-in;
    animation:slideOutLeft 0.5s both ease-in;
}
.page-about.ng-enter {
    -webkit-animation:slideInRight 0.5s both ease-in;
    -moz-animation:slideInRight 0.5s both ease-in;
    animation:slideInRight 0.5s both ease-in;
}

/* contact ---------------------- */
.page-contact.ng-leave {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter {
    -webkit-animation:slideInUp 0.5s both ease-in;
    -moz-animation:slideInUp 0.5s both ease-in;
    animation:slideInUp 0.5s both ease-in;
}


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutRight {
    from      { transform: translateX(-100%); }
    to        { transform: translateX(0); }
}
@-moz-keyframes slideOutRight {
    from      { -moz-transform: translateX(-100%); }
    to        { transform: translateX(0); }
}
@-webkit-keyframes slideOutRight {
    from      { -webkit-transform: translateX(-100%); }
    to        { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}
