<div id="ctrl" ng-controller="FedererCtrl">

  <div class="roger-profile">
    <h3>{{ roger.name }}</h3>
    <div class="profile-image">
      <img src="/slides/images/roger-federer.jpg" alt="Roger Federer" height="280" width="240" />
    </div>

    <div class="roger-info">

    <div class="message message-half">
      Wimbledons
    </div>

    <div class="message message-half">
      {{ roger.wimbledons }}
    </div>

    <div class="message message-half">
      US Opens
    </div>

    <div class="message message-half">
      {{ roger.usOpens }}
    </div>

    </div>
  </div>
</div>)
