@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@font-face {
  font-family: 'Gotham Thin';
  src: url("font/Gotham-Thin.otf") format("opentype");
}

@font-face {
  font-family: 'Gotham XLight';
  src: url("font/Gotham-XLight.otf") format("opentype");
}

$white: #ffffff;
$black: #000000;

$azucar: #185689;
$darkcar: #1b5e96;
$darkercar: #154a75;
$bumble-bee: #ffd641;

$slate: #322f31;
$shale: #1d1d1e;
$discs: #fec324;
$keylime: #acfd5b;
$tarheel: #50b1ff;
$rebel: #ff6450;
$pride: #b650ff;
$cream: #fffbf3;

$slate-dark: #154a75;
$bumble-mid: #fedd7b;
$bumble-dark: #c5a530;

$font: 'Gotham Thin', 'Open Sans', Arial;

$brand-primary: $tarheel;
$brand-warning: $discs;
$brand-danger: $rebel;

/* BASE STYLES
============================================================================= */
html {
  overflow-y:hidden;
}

body {
  background: $shale;
  height: 100%;
  width: 100%;
  font-family: $font;
}

.page {
  bottom:0;
  padding-top:90px;
  position:absolute;
  text-align:center;
  top:0;
  width:100%;
  color: $white;
  overflow-y: scroll;
}

.page h1 { font-size:60px; }
.page a  { margin-top:50px; }
#about   { color:#333; position:absolute; text-align:center; top:50px; width:100%; }

.btn {
  border-radius: 0;
  -webkit-border-radius: 0;
  outline: none;
}

@mixin button-creator($color) {
  background: $color;
  outline: none !important;

  &:active {
    background: darken($color, 7%);
  }
}

.button-success { @include button-creator($pride); }
.button-primary { @include button-creator($tarheel); }
.button-warning { @include button-creator($discs); }
.button-danger { @include button-creator($rebel); }
.btn-huge {
  height: 68px;
  width: 158px;
  font-size: 32px;
}

/* PAGES
============================================================================= */
.info { background:$white; color: $shale; }
.code   { background:$slate; }

.big-plus {
  font-size: 92px;
  vertical-align: middle;
}

.mid-plus {
  font-size: 72px;
}

/* SLIDES
============================================================================= */

.slide {
  margin: 60px auto;

  h1 {
    margin-bottom: 60px;
  }

  &.slide-compact {
    h1 {
      margin-bottom: 60px;
    }
  }

  .profile {
    height: 200px;
    width: 200px;
    border: 2px solid $discs;
  }

  .adjust-left {
    text-align: left;
  }

}


#firepad-container {
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  width: 45%;
  height: 100%;
}

#render-container {
  height: 100%;
  width: 55%;
  position: absolute;
  right: 0;
  top: 0;
  vertical-align: top;
  background: $slate;

  .render-frame {
    height: 100%;
    width: 100%;
    border: none;
    overflow: scroll;
  }

}

/* ANIMATIONS
============================================================================= */

.page.ng-leave  { z-index:9999; }
.page.ng-enter  { z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-animation.ng-leave {
 -webkit-animation:slideOutLeft 0.5s both ease-in;
 -moz-animation:slideOutLeft 0.5s both ease-in;
 animation:slideOutLeft 0.5s both ease-in;
}
.page-animation.ng-enter {
    -webkit-animation:scaleUp 0.5s both ease-in;
    -moz-animation:scaleUp 0.5s both ease-in;
    animation:scaleUp 0.5s both ease-in;
}


/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(100%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(100%); }
    to      { -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideOutRight {
    from      { transform: translateX(-100%); }
    to        { transform: translateX(0); }
}
@-moz-keyframes slideOutRight {
    from      { -moz-transform: translateX(-100%); }
    to        { transform: translateX(0); }
}
@-webkit-keyframes slideOutRight {
    from      { -webkit-transform: translateX(-100%); }
    to        { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}
@-moz-keyframes slideInUp {
    from    { -moz-transform:translateY(100%); }
    to      { -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
    from    { -webkit-transform:translateY(100%); }
    to      { -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
    to      { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-100%); }
}

.add-message {
  width: 75%;
  padding-left: 20px;
  height: 50px;
  border: none;
  vertical-align: top;
  outline: none !important;
  color: $black;
  font-weight: bold;
  + button {
    height: 50px;
  }
}
.message {

  margin: 22px auto;
  width: 75%;
  min-height: 57px;
  padding: 20px;

    &:nth-child(odd) {
      background: $discs;
      color: $shale;
      text-align: left;
    }

    &:nth-child(even) {
      background: $tarheel;
      color: $white;
      text-align: right;
    }

  span {
    position: relative;
    top: 22%;
    font-size: 22px;
  }
}

.realtime-1 {

}
