$azucar: #185689;
$darkcar: #1b5e96;
$darkercar: #154a75;
$bumble-bee: #ffd641;
$bumble-mid: #fedd7b;
$bumble-dark: #c5a530;

$slate: #322f31;
$slate-dark: #154a75;
$shale: #1d1d1e;

$font: 'Open Sans';

$white: #ffffff;
$black: #000000;

$brand-primary: $azucar;
$brand-warning: $bumble-bee;
